ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #295aec;
  text-align: center;

}
/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;


}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#e7e7eb;
  white-space: nowrap;


}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: black;
  text-align: center;
  white-space: nowrap;
  padding: 0;
  min-width: 95px;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: white;
  margin: 0;
  min-width: 710px;


}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:75%;
  color: #777;
}

body {
  background-color: #e7e7eb;
}

button {
  background-color: #295aec; 
  color: lightgray; 
  padding: 10% 20%; 
  font-size: 80%; 
  font-weight: bold; 
  border-radius: 5px;

}

button:hover {
  background-color: rgb(0, 58, 120);
}