<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAR {{ month_string }} {{ year }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/cal.css') }}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var year = $('body').data('year');
            var month = $('body').data('month');

            $('button').click(function() {
                var day = $(this).data('day');
                var newURL = window.location.origin + "/signupDay?month=" + month + "&day=" + day + "&year=" + year;
                window.location.href = newURL;
            });
        });
    </script>
</head>

<body data-year="{{ year }}" data-month="{{ month }}">

    <div class="month">
        <ul>
            <li>{{ month_string }}<br><span style="font-size:18px">{{ year }}</span></li>
        </ul>
    </div>

    <ul class="weekdays">
        <li>Mo</li>
        <li>Tu</li>
        <li>We</li>
        <li>Th</li>
        <li>Fr</li>
        <li>Sa</li>
        <li>Su</li>
    </ul>

    <ul class="days">
        
    {% for i in range(1, offset + 1) %}
        <li class="empty">
            -
        </li>
    {% endfor %}

    {% set html_buttons = namespace(buttons=buttons) %}
  
        {% for i in range(1, total_days + 1) %}
            {% if html_buttons.buttons and html_buttons.buttons[0].day == i %}
                <li>
                    <button data-day="{{ html_buttons.buttons[0].day }}">{{ html_buttons.buttons[0].title }}</button>
                </li>
                {% set html_buttons.buttons = html_buttons.buttons[1:] %}
            {% else %}
                <li>
                    <span>{{ i }}</span>
                </li>
            {% endif %}
        {% endfor %}
    
    </ul>

</body>
</html>
