<!DOCTYPE html>
<html>
<head>
<title>BAR Sign Up</title>
</head>
<body>
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

<h1>Welcome to the Build and Rebild sign up page!</h1>
<h2>Please feel free to ask if you have any questions :D</h2>
<h1>Enter Month and Year or keep empty for latest date</h1>

    <form onsubmit="return checkDate()">
        <label for="month">Month:</label>
        <input type="number" id="month" name="month">
        <br>
        <label for="year">Year: </label>
        <input type="number" id="year" name="year">
        <br><br>
        <button type="submit">Search</button>
    </form>

</body>

</html>

<script>
    function checkDate() {

        var month = document.getElementById("month").value;
        var year = document.getElementById("year").value;
        console.log(month)
        if ((month == "") || (year=="")){

            var newURL = window.location.origin + "/signup?month=" + month + "&year=" + year;
            window.location.href = newURL
            return false
        }


        if (month < 1 || month > 12 || year < 2024 || year > 9999) {
            alert("Please enter a valid month (1-12) and a valid year (2025-9999).");
            return false;
        }

        var newURL = window.location.origin + "/signup?month=" + month + "&year=" + year;
        window.location.href = newURL

        return false;
    }
</script>