<!DOCTYPE html>
<html>

<head>
    <title>BAR Sign Up</title>
</head>

<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    <h1>Welcome to the Build and Rebuild sign-up page!</h1>
    <h2>Please feel free to ask if you have any questions :D</h2>
    <h1>Enter Month and Year or keep empty for the latest date</h1>
    
    <div class="row">
        <form onsubmit="return checkDate()">
            <label for="month">Month:</label>
            <input type="number" id="month" name="month">

            <label for="year">Year: </label>
            <input type="number" id="year" name="year">

            <br><br>

            <label for="location">Select Location:</label>
            <select id="location" name="location">
                <option value="soundBooth">Sound Booth</option>
                <option value="computerLab">Compuer Lab</option>
            </select>

            <br><br>
            <button type="submit">Search</button>
        </form>

        <img src="https://images.squarespace-cdn.com/content/v1/67ab05f3abf6272637d1e6d3/669d97be-99be-4376-872c-8490c26658a1/Build_Rebuild_Logo_White.png?format=200w"
            alt="Logo!" />
    </div>
</body>

<script>
    function checkDate() {
        var month = document.getElementById("month").value;
        var year = document.getElementById("year").value;
        var location = document.getElementById("location").value;


        if ((month === "") || (year === "")) {
            var newURL = window.location.origin + "/signup?month=" + month + "&year=" + year + "&location=" + location;
            window.location.href = newURL;
            return false;
        }

        if (month < 1 || month > 12 || year < 2024 || year > 9999) {
            alert("Please enter a valid month (1-12) and a valid year (2025-9999).");
            return false;
        }

        var newURL = window.location.origin + "/signup?month=" + month + "&year=" + year + "&location=" + location;
        window.location.href = newURL;

        return false;
    }
</script>

</html>