<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/times.css') }}">
    <script>
        $(document).ready(function() {
            var year = $('body').data('year'); 
            var month = $('body').data('month'); 

            $('button').click(function() {
                var day = $(this).data('day');
                var number = $(this).data('number');

                console.log(month)
                $.post('/submit', {month: month, day:day, year: year, number:number}, function(data) {
                    alert(data.message);
                    window.location.href = window.location.origin;
                });
            });
        });
    </script>
</head>

<body data-year="{{ year }}" data-month="{{ month }}">
    <title>BAR {{ month_string }} {{ day }} {{ year }}</title>

    <h1>Here are the times available for:</h1>
    <h1>{{ month_string }}, {{ day }}, {{ year }} </h1>

    <div>
        {% for button in buttons %}
            <button data-number="{{ button.number }}" data-day="{{ button.day }}">{{ button.title }}</button><br><br>
        {% endfor %}
    </div>
</body>
</html>